
.inputContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}

.inputField {
  padding: 10px 14px;
  border-radius: 10px;
  margin: 10px;
  font-family: "Poppins", sans-serif;
}

.todoList {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  
}

.buttonContainer{
  display: flex;
  margin: 20px 10px;
}

li {
  list-style: none;
  font-size: 20px;
  margin: 0 10px;
}

button {
  margin-right: 10px;
  border: 1px solid gainsboro;
}
